@model SampleCoreApp.Models.SamplesTreeViewModel
@using Microsoft.AspNetCore.Http;
@using SampleCoreApp.Controllers;
@using SampleCoreApp;
@using System.Web;
@using Newtonsoft.Json;

@{
    var globalAppSettings = ViewBag.GlobalAppSettings as GlobalAppSettings;
    var serverUrl = globalAppSettings.EmbedDetails.Serverurl;
    var baseUrl = globalAppSettings.EmbedDetails.BaseUrl;
    var environment = globalAppSettings.EmbedDetails.Environment;
    var authorizeUrl = @Url.Action("GetDetails", "Home");
    var deleteItemUrl = @Url.Action("DeleteItem", "Home");
    var refreshItemUrl = @Url.Action("RefreshItem", "Home");
    var shareItemUrl = @Url.Action("ShareItem", "Home");
    var permissionDbUrl = @Url.Action("DBPermission", "Home");
    var permissionDsUrl = @Url.Action("DSPermission", "Home");
    var getCategoryUrl = @Url.Action("getCategory", "Home");
    var getDbrdUrl = @Url.Action("DashboardPage", "Home");
    var category = ViewBag.Category as ApiItems;
    var isEdit = ViewBag.IsEdit != null && (bool)ViewBag.IsEdit;
    var email = globalAppSettings != null && globalAppSettings.UserDetails != null && !string.IsNullOrWhiteSpace(globalAppSettings.UserDetails.Email) ? globalAppSettings.UserDetails.Email : null;
    var noResourceFound = ViewBag.NoResourceFound != null && (bool)ViewBag.NoResourceFound;
    var token = ViewBag.Token;
    var userID = ViewBag.UserId;
    var draftId = ViewBag.DraftId;
    var title = string.IsNullOrWhiteSpace(Model?.Title) ? "" : Model.Title;
    var dashboardPath = string.IsNullOrWhiteSpace(Model?.DashboardPath) ? "" : Model.DashboardPath;
    var parentId = Model != null && Model.ParentId > 0 ? Model.ParentId : 0;
    var samples = ViewBag.Samples as SamplesSchemaViewModel;
    var dashboards = globalAppSettings.SamplesSchemaCollection[0].Samples;
    var mydashboards = dashboards.Where(x => (x.CreatedById == userID && x.Id != 101)).ToList();
    var currentUserEmail = globalAppSettings.UserToken != null ? globalAppSettings.UserToken.Email : "";
    var categoryName = (ViewBag.CategoryName == null || ViewBag.CategoryName.ToLower() == "all") ? "All" : ViewBag.CategoryName;
}
@*<div id="dashboardparent" class="tab-pane" style="height:100%;width:100%; overflow:hidden">*@
<div id="dashboards" style="margin-left: 300px">

    @*<div class="dbrdName">
            @categoryName
        </div>*@
    @Html.Partial("DashboardPage")
    <div id="sampleDashboard_render_ele">
        <div id="mobile-dashbrd" style="height:calc(100% - 0px);float:right;width:calc(100% - 0px);border: 1px solid #D9DEDD;background-color: white;overflow:hidden !important;">
            <div style="height:100%;width:100%;overflow: hidden !important;" id="sample_dashboard"> </div>
            @*<div id="properties" onclick="ProperyTab()">Properties</div>*@
        </div>
    </div>
    @*<div style="height:100%;width:100%;overflow: hidden !important;" id="sample_dashboard"></div>*@
    @*<ul class="nav nav-treeview">
            @foreach (var sample in mydashboards)
            {
                <li class="nav-item" style="width: 100%">
                    <a class="nav-link sample" style="font-size:14px; cursor:pointer;">
                        @if (sample.CanWrite)
                        {
                            @if (!sample.IsEdit)
                            {
                                <i class="far"> </i>
                                <p onclick="ViewDashboard(this)" class="dashboard-text" style="padding-top: 5px; color: #000">@sample.Name</p>
                                <i id="refresh-item" onclick="RefreshDashboard('@sample.ItemID')" style="display:inline-block; vertical-align: super; color: #000; float: right" class="nav-option fas fa-sync-alt dbrd-icon"> </i>
                                <i id="edit-item" onclick="EditDashboard(this)" data-ng-animate="@sample.Name" style="display:inline-block; vertical-align: super; color: #000; float: right" class="nav-option dbrd-icon fas fa-pencil-alt"> </i>
                                <i id="delete-item" onclick="deleteItem(this, '@sample.Name','@sample.ItemID')" style="display:inline-block; vertical-align: super; color: #000; float: right" class="nav-option fas fa-trash-alt dbrd-icon"> </i>
                            }
                            else
                            {
                                <i class="far"> </i>
                                <p class="dashboard-item" style="width: 200px;cursor:pointer; padding-top: 5px;">@sample.Name</p>
                                <i id="save-item" style="vertical-align: super; cursor:pointer" class="nav-option dbrd-icon fas fa-save"> </i>
                            }
                        }
                        else
                        {
                            <i class="far"> </i>
                            <p onclick="ViewDashboard(this)" class="dashboard-text" style="padding-top: 5px; color: #000">@sample.Name</p>
                            <i id="refresh-item" onclick="RefreshDashboard('@sample.ItemID')" style="display:inline-block; vertical-align: super; color: #000; float: right" class="nav-option fas fa-sync-alt dbrd-icon"> </i>
                        }
                    </a>
                </li>
            }
        </ul>*@
</div>
<script type="text/javascript">
    document.title = "@title";
    var category = @Html.Raw(JsonConvert.SerializeObject(category));
    var noResourceFound = "@(noResourceFound.ToString().ToLower())" === "true";
    var designerUrl = "@Url.Action("Index", "Designer")";
    var mode = "@(isEdit.ToString().ToLower())" === "true" ? BoldBI.Mode.Design : BoldBI.Mode.View;
    var serverUrl = "@serverUrl";
    var dashboardPath = "@dashboardPath";
    var environment = "@environment" === "cloud" ? BoldBI.Environment.Cloud : BoldBI.Environment.Enterprise;
    var authorizeUrl = "@authorizeUrl";
    var deleteItemUrl = "@deleteItemUrl";
    var refreshItemUrl = "@refreshItemUrl";
    var shareItem = "@shareItemUrl";
    var permissionDbUrl = "@permissionDbUrl";
    var permissionDsUrl = "@permissionDsUrl";
    var getCategoryUrl = "@getCategoryUrl";
    var token = "@Html.Raw(@token)";
    var baseUrl = "@baseUrl";
    var id = "@draftId";
    var catagoryId = "@parentId";
    var datasourceName = "";
    var currentUserEmail = "@currentUserEmail";
    var getDbrdUrl = "@getDbrdUrl";

    $(document).ready(function () {https://gitlab.syncfusion.com/data-science/embedded-bi-shell/blob/development/EmbededShell/EmbeddedbiShell/Models/SamplesManager.cs
        //embedSample();
        var m = window;
        //$('.createNewDbrd').dialog({
        //    autoOpen: false
        //});
    });
</script>