@using Newtonsoft.Json;
@{ 
    var globalAppSettings = ViewBag.GlobalAppSettings as GlobalAppSettings;
    var index = 0;
    var dashboardServerApiUrl = globalAppSettings.EmbedDetails.RootUrl + "/api/" + globalAppSettings.EmbedDetails.SiteIdentifier;
    var accessToken = globalAppSettings.UserToken != null ? globalAppSettings.UserToken.AccessToken : "";
    var currentUserEmail = globalAppSettings.UserToken != null ? globalAppSettings.UserToken.Email : "";
    var email = Model != null && Model.UserDetails != null && !string.IsNullOrWhiteSpace(Model.UserDetails.Email) ? Model.UserDetails.Email : null;
    var userID = ViewBag.UserId;
    var updateSampleUrl = Url.Action("", "Home");
    var dashboardName = ViewBag.DashboardName;
    List<SamplesSchemaViewModel> myDashboards = new List<SamplesSchemaViewModel>();
    List<SamplesSchemaViewModel> sharedDashboards = new List<SamplesSchemaViewModel>();
    List<SamplesSchemaViewModel> dashboards = Model.SamplesSchemaCollection[0].Samples;
    List<SamplesSchemaViewModel> datasources = Model.SamplesSchemaCollection[0].DataSources;
    bool isDbCheck = true;
    bool isDsCheck = datasources[0].CanWrite;
    if (dashboards != null && dashboards.Count > 0)
    {
        myDashboards = dashboards.Where(x => (x.CreatedById == userID && x.Id != 101)).ToList();
        sharedDashboards = dashboards.Where(x => (x.CreatedById != userID && x.Id != 101)).ToList();
        isDbCheck = myDashboards[0].CanWrite;
    }
}

<div class="sidebar" style="padding:0px; background:#3bacf6">
    <nav>
        <ul id="sidebar-menu" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            @foreach (var category in Model.SamplesSchemaCollection)
            {
                var hasChild = category.IsCategory && category.HasChild && !category.AsTab;
                var hasTreeview = hasChild ? "has-treeview" : string.Empty;
                var isActive = hasChild ? ViewBag.ParentName?.ToLower() == category.Name.ToLower() ? "active" : ViewBag.Name.ToLower() == category.Name.ToLower() ? "active" : "" : "";
                var hasMenuOpen = (hasChild) ? "menu-open" : "";
                var url = hasChild ? "#" : @Url.Action("Index", "Home", new { categoryName = @category.Name.ToLower() });
                index++;
                <li class="nav-item  @hasTreeview @hasMenuOpen">
                    <a href="@url" id="item_@category.Id" class="nav-link category @isActive" style="background-color:#3bacf6">
                        <i class="nav-icon fas @category.SpiteClass" style="margin-right: 5px; color: #fff"></i>
                        <p style="color: #fff; font-weight:bold;">


                            @category.Name

                        </p>
                        @if (category.Samples != null && !category.AsTab)
                        {
                            <i class="left fas fa-angle-right" style="float: right; color: #fff; margin-top: 5px;"></i>
                        }
                    </a>

                    <ul id="sidemenu-item" class="nav nav-treeview">
                        @if (category.Id == 1)
                        {

                            <li class="nav-item nav-item-heading">
                                <a id="create-new" onclick="CreateNew()" class="nav-link sample no-hover" style="color: #fff; font-size:15px; padding-left:50px; cursor:pointer">
                                    <p>
                                        @*<i class="fas fa-plus nav-icon"></i>*@
                                        Create New
                                    </p>
                                </a>
                                <div id="dbrd-name" class="input-group input-group-sm" style="display:none">
                                    <input id="dashboard-name" class="form-control form-control-navbar" style="border:none;" type="text" placeholder="Enter the dashboard name" aria-label="Search">
                                    <div class="input-group-append">
                                        <button id="create-dashboard" class="btn btn-navbar" style="color: #115e94" type="submit">
                                            <i class="fas fa-save"></i>
                                        </button>
                                        <button class="btn btn-navbar" onclick="CloseItem()" style="color: #115e94" type="submit">
                                            <i class="fas fa-ban"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>


                            @if (category.Samples != null && !category.AsTab)
                            {
                                if (myDashboards.Count > 0 || dashboardName != null)
                                {
                                    @*<li class="nav-item nav-item-heading">
                                    <a class="nav-link sample no-hover" style="font-size:15px; color: #fff; padding-left:50px">
                                        <p>Owned by Me</p>
                                    </a>
                                </li>*@
                                    if (dashboardName != null)
                                    {
                                        <li id="new-item" class="nav-item">
                                            <a class="nav-link sample active" style="font-size:14px;">
                                                <i class="far"> </i>
                                                <p id="new-item-name" style="width: 200px; padding-top: 5px;">@dashboardName</p>
                                                <i id="save-item" style="vertical-align: super; cursor:pointer" class="nav-option dbrd-icon fas fa-save"> </i>
                                            </a>
                                        </li>
                                    }
                                    @foreach (var sample in myDashboards)
                                    {
                                        @if (sample.Id != 101)
                                        {
                                            var isChildActive = ViewBag.Name.ToLower() == sample.Name.ToLower() ? "active" : "";
                                            var sampleUrl = @Url.Action("Index", "Home", new { categoryName = @category.Name.ToLower(), sampleName = @sample.Name.ToLower(), email = @email });
                                            <li class="nav-item">
                                                <a class="nav-link sample @isChildActive" style="font-size:14px; cursor:pointer;">
                                                    @if (sample.CanWrite)
                                                    {
                                                        @if (!sample.IsEdit)
                                                        {
                                                            <i class="far"> </i>
                                                            <p data-src="@sampleUrl" onclick="ViewDashboard(this)" class="dashboard-text" style="padding-top: 5px;">@sample.Name</p>
                                                            @*<i id="share-item" onclick="ShareDashboard('@sample.IsPublic', '@sample.Name', '@sample.ItemID')" style="display:none; vertical-align: super;" class="nav-option fas fa-share-alt dbrd-icon"> </i>*@
                                                            <i id="refresh-item" onclick="RefreshDashboard('@sample.ItemID')" style="display:none; vertical-align: super;" class="nav-option fas fa-sync-alt dbrd-icon"> </i>
                                                            <i id="edit-item" onclick="EditDashboard(this)" data-ng-animate="@sample.Name" style="display:none;vertical-align: super;" class="nav-option dbrd-icon fas fa-pencil-alt"> </i>
                                                            <i id="delete-item" onclick="deleteItem(this, '@sample.Name','@sample.ItemID')" style="display:none; vertical-align: super;" class="nav-option fas fa-trash-alt dbrd-icon"> </i>
                                                        }
                                                        else
                                                        {
                                                            <i class="far"> </i>
                                                            <p class="dashboard-item" style="width: 200px;cursor:pointer; padding-top: 5px;">@sample.Name</p>
                                                            <i id="save-item" style="vertical-align: super; cursor:pointer" class="nav-option dbrd-icon fas fa-save"> </i>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <i class="far"> </i>
                                                        <p data-src="@sampleUrl" onclick="ViewDashboard(this)" class="dashboard-text" style="padding-top: 5px;">@sample.Name</p>
                                                        <i id="refresh-item" onclick="RefreshDashboard('@sample.ItemID')" style="display:none; vertical-align: super;" class="nav-option fas fa-sync-alt dbrd-icon"> </i>
                                                    }
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                                @*if (sharedDashboards.Count > 0)
                            {
                                <li class="nav-item nav-item-heading">
                                    <a class="nav-link sample no-hover" style="font-size:15px; color: #fff; padding-left:50px">
                                        <p>Shared with me</p>
                                    </a>
                                </li>
                                @foreach (var sample in sharedDashboards)
                                {
                                    @if (sample.Id != 101)
                                    {
                                        var isChildActive = ViewBag.Name.ToLower() == sample.Name.ToLower() ? "active" : "";
                                        var sampleUrl = @Url.Action("Index", "Home", new { categoryName = @category.Name.ToLower(), sampleName = @sample.Name.ToLower(), email = @email });
                                        <li class="nav-item">
                                            <a href="@sampleUrl" class="nav-link sample @isChildActive" style="font-size:14px;">
                                                <i class="far"> </i>
                                                <p>@sample.Name</p>
                                            </a>
                                        </li>
                                     }
                                 }
                            }*@
                            }
                        }
                    </ul>
                </li>
                <li class="nav-item  has-treeview menu-open">
                    <a href="@url" id="item_2" class="nav-link category active" style="background-color:#3bacf6">
                        <span class="glyphicon glyphicon-cog" style="margin-right: 5px; color: #fff"></span>
                        <p style="color: #fff; font-weight:bold;">Settings</p>
                    </a>

                    <div style="color: #fff; width: 300px;">
                        <input id="dbrd_Edit" type="checkbox" checked=@isDbCheck onchange="dbrdChkChange(this)" aria-label="Allow Dashboard Editing" style="height: 20px;width: 25px;margin: 10px 0 0 20px;" />
                        <span style="float: right; margin: 10px 80px 0 0">Allow Dashboard Editing</span>
                    </div>
                    <div style="color: #fff; width: 300px;">
                        <input id="ds_Edit" type="checkbox"  checked=@isDsCheck onchange="dsChkChange(this)" aria-label="Allow Datasource Editing" style="height: 20px;width: 25px;margin: 10px 0 0 20px;" />
                        <span style="float: right; margin: 10px 80px 0 0">Allow Datasource Editing</span>
                    </div>
                </li>

                    }
            </ul>
    </nav>
</div>
<script>
    var serverApiUrl = '@dashboardServerApiUrl';
    var accessToken = '@accessToken';
    var currentUserId = '@userID';
    var currentUserEmail = '@currentUserEmail';

    @*function CreateDbrd() {
        $("#create-new").css("display","none");
        $("#dbrd-name").css("display","flex");
    }

    function CloseItem() {
        $("#create-new").css("display", "block");
        $("#dbrd-name").css("display", "none");
    }

    function ViewDashboard(args) {
        document.location.href = args.dataset.src;
    }

    $(document).on("click", "#create-dashboard", function () {
        $("#create-new").css("display", "block");
        $("#dbrd-name").css("display", "none");
        $("#loading-item").removeClass("hide");
        $("#loading-item").addClass("show-flex");
        var dbrdName = $("#dashboard-name").val();
        openDesignerForCreate(dbrdName);
    });

    function openDesignerForCreate(dbrdName) {
        var accessToken = "@accessToken";
        $.ajax({
            type: "POST",
            url: "@dashboardServerApiUrl" + "/v4.0/dashboards/draft",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', "bearer " + accessToken)
            },
            success: function (data) {
                var userEmail = getParams(document.location.href, "email");

                //var tabs = document.getElementById("sidemenu-item");
                //var liElement = document.createElement("li");
                //liElement.className = "nav-item";
                //liElement.style.cursor = "pointer";
                //var anchr = document.createElement("A");
                //anchr.style.fontSize = "14px";
                //anchr.setAttribute("class", "nav-link sample active");
                //var para = document.createElement("p");
                //para.style.width = "230px";
                //para.style.paddingTop = "5px";
                //para.innerText = dbrdName;
                //var icon = document.createElement("i");
                //icon.style.display = "none";
                //icon.style.verticalAlign = "super";
                //icon.setAttribute("class", "nav-option fas fa-save dbrd-icon");
                //icon.id = "save-item";
                //anchr.appendChild(para);
                //anchr.appendChild(icon);
                //liElement.appendChild(anchr);

                //tabs.insertBefore(liElement, tabs.childNodes[6]);

                document.location.href = designerUrl + "?id=" + data.Id + "&name=" + dbrdName + (isEmptyOrWhiteSpace(userEmail) ? "" : "&email=" + userEmail);
            }
        });
    }*@
    
</script>

